# **Simple Introduction To ETL In Python**

Importing necessary packages

In [ ]:
import io
import sqlalchemy
import pandas            as pd
import numpy             as np

import matplotlib.pyplot as plt
import matplotlib.image  as img

from pandasql import sqldf

from google.colab import drive
from google.colab import files

# Extraction Phase [E]

Connecting to Postgres SQL database and Extracting the "Retail Data"

In [ ]:
# Connecting to Postgres SQL database
# Credentials required to make a connection are : "postgresql://postgress:your_password@localhost:localhost_number/database_name
connection_uri = "postgresql://postgres:pass@localhost:5432"

# Creating a database engine 
db_engine      = sqlalchemy.create_engine(connection_uri)
 
# Sql query statement
# Extract's retail table from database retial
sql_query      = "SELECT * FROM Retail"

# To extract table from postgres database need to pass the query statement & database engine to read_sql function
# The table will be stored in the pandas dataframe
df_retail      = pd.read_sql(sql_query,db_engine)

In [ ]:
#preview of the data
df_retail.head(3)

        Date  Gender    Age      Product  ... Age ID  Location ID Store ID  year
0 2017-01-01  Female  18-30   Appliances  ...     A1          Hyd       S5  2017
1 2017-01-01  Female  31-40  Electronics  ...     A2          Ban       S1  2017
2 2017-01-01  Female  31-40  Electronics  ...     A2          Che       S4  2017

[3 rows x 15 columns]

# Transformation Phase [T]

Applying data modeling "Star Schema" to the Retail data

Creating Fact & Dimension Tables

In [ ]:
#Making a copy of the retail dataframe
df         = df_retail.copy()

#replacing space with underscore in the column names of the dataframe
#this is required to do because pandas sql throws error when thier is space between words in columns
df.columns = df.columns.str.replace(' ','_')

#creating pysqldf variable to use sql query to manipulate the dataframe
pysqldf    = lambda q: sqldf(q, globals())

Data Model - Star Schema![Data Model - Star Schema.png]()

In [ ]:
 #creating dim_age_df dataframe
 dim_age_df = pysqldf(""" select Age_ID, Age from df group by Age_ID, Age """)
 dim_age_df

  Age_ID    Age
0     A1  18-30
1     A2  31-40
2     A3  41-50

In [ ]:
#creating dim_store_df dataframe
dim_store_df = pysqldf(""" select Store_ID, Store from df group by Store_ID, Store """)
dim_store_df.head()

  Store_ID      Store
0       S1  Store TYA
1      S10  Store TYJ
2       S2  Store TYB
3       S3  Store TYC
4       S4  Store TYD

In [ ]:
#creating dim_product_df dataframe
dim_product_df = pysqldf(""" select Product_ID, Product from df group by Product_ID, Product """)
dim_product_df

  Product_ID      Product
0        Pr1  Electronics
1        Pr2   Appliances
2        Pr3    Funitures
3        Pr4     Dressing
4        Pr5        Books

In [ ]:
#creating dim_location_df dataframe
dim_location_df = pysqldf(""" select Location_ID, Location from df group by Product_ID, Product """)
dim_location_df

  Location_ID   Location
0         Hyd  Hyderabad
1         Che    Chennai
2         Ban  Bangalore
3         Ban  Bangalore
4         Che    Chennai

In [ ]:
#creating dim_sub_product dataframe
dim_sub_product_df = pysqldf(""" select Sub_Product_ID,Sub_Product from df group by Sub_Product_ID,Sub_Product """)
dim_sub_product_df.head()

  Sub_Product_ID   Sub_Product
0           spr1  Mobile Phone
1          spr10     Men Dress
2          spr11   Woman Dress
3          spr12    Kids Dress
4          spr13        Horror

Dimension table creation

In [ ]:
drop_column_list  = ['Age','Store','Location','Product','Sub_Product']

fact_retail_df    = df.drop(drop_column_list,axis = 1)

fact_retail_df.head(3)

        Date  Gender  Price                Id  ... Age_ID Location_ID Store_ID  year
0 2017-01-01  Female  90580  7QER1RXU457UQUB6  ...     A1         Hyd       S5  2017
1 2017-01-01  Female  38411  OHSF7F511GBK7BD8  ...     A2         Ban       S1  2017
2 2017-01-01  Female   4655  H3QKM1F9IC341DPK  ...     A2         Che       S4  2017

[3 rows x 10 columns]

# Loading Phase [L]
Loading the transformed tables back to postgres database

In [ ]:
#To load back to postgres database you need to pass pandas dataframe, new table name and database engine to to_sql function

fact_retail_df.to_sql("fact_retail",db_engine,if_exists='replace')

dim_age_df.to_sql("dim_age",db_engine,if_exists='replace')

dim_store_df.to_sql("dim_store",db_engine,if_exists="replace")

dim_location_df.to_sql("dim_location",db_engine,if_exists='replace')

dim_product_df.to_sql("dim_product",db_engine,if_exists="replace")

dim_sub_product_df.to_sql("dim_sub_product",db_engine,if_exists='replace')